<?xml version="1.0"?>

<model>
  <name>CAST</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Daniel Pastor</name>
    <email>dpastorm@caltech.edu</email>
  </author>

  <description>
    Center for Autonomous Systems and Technologies (CAST)
  </description>
</model>
