<?xml version="1.0"?>
<robot name="castarena">

  <link name="world">
    <visual>
      <origin rpy="0.0 0 -3.1415" xyz="4.075 5.135 0"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/cast/cast_simple_2.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="auxTable">
    <visual>
      <origin rpy="0.0 0 0" xyz="0 0 0.930"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/auxTable.stl"/>
      </geometry>
    </visual>
  </link>  
  
  
  <joint name="j1" type="fixed">
	<origin rpy="0 0 0" xyz="0.0 0.0 2"/>
    <parent link="world"/>
    <child link="auxTable"/>    
  </joint>


  <link name="windtunnel">
    <visual>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/wind_tunnel_down.dae"/>
      </geometry>
    </visual>
  </link>  
  
  <joint name="j2" type="fixed">
	  <origin rpy="0 0 1.5707" xyz="0 -7.7 0"/>
    <parent link="world"/>
    <child link="windtunnel"/>    
  </joint>  

</robot>
