<?xml version="1.0"?>
<robot name="vv">

  <link name="world3">

  </link>
  
  <link name="wind_tunnel5">

  </link>  
  
  <joint name="world_to_wind_tunnel" type="fixed">
    <parent link="world3"/>
    <child link="wind_tunnel5"/>  
    <origin rpy="0 0 0" xyz="5 5 4"/> 
  </joint>
  

</robot>
