<launch>

  <arg name="robot_urdf" default="$(find bintel_ros)/urdf/inteldrone_2.urdf"/>  
  <arg name="cast_urdf" default="$(find bintel_ros)/urdf/cast.urdf"/>
  
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find bintel_ros)/urdf/cast_urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg robot_urdf)'" />
  
  <param name="cast_description" command="$(find xacro)/xacro --inorder '$(arg cast_urdf)'" />

  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
