<?xml version="1.0"?>
<robot name="intelaero">

  <link name="bintel">
    <visual>
      <origin rpy="0.0 0 1.5707" xyz="0 0 0.008"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/inteldrone_frame.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  
  
  <link name="laser">
	<visual>
      <origin rpy="1.5707  0 1.5707" xyz="0 -0.025 -0.04"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/hokuyo_urg04lx.STL" scale="0.001 0.001 0.001"/>
      </geometry>     
    </visual>
  </link>
  
  <joint name="laser_to_bintel" type="fixed">
    <parent link="bintel"/>
    <child link="laser"/>
    <origin rpy="0 0 0" xyz="0.03 0.0 0.07"/>
  </joint>
  
  
 <link name="base_link">
  </link>
  <joint name="bintel_to_base_link" type="fixed">
    <parent link="bintel"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  
    <link name="camera_link">
	<visual>
      <origin rpy="1.5707 0 1.5707" xyz="0.0 -0.07 0.000"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/r200.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  
  <link name="camera_rgb_optical_frame">
    </link>
  
    <joint name="camera_link_regis" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_rgb_optical_frame"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
  </joint>
  
    <link name="camera_depth_optical_frame">
    </link>

    <joint name="camera_depth" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_optical_frame"/>
    <origin rpy="1.5707 0 0" xyz="0.0 0.0 0.0"/>
  </joint>

  <joint name="lidar_bintel" type="fixed">
    <parent link="bintel"/>
    <child link="camera_link"/>
    <origin rpy="0 1.5707 3.141592" xyz="0.11 0.0 -0.014"/>
  </joint>
  
  
  
  <link name="engineUR">
  </link>
  <joint name="bintel_t0_engineUR" type="fixed">
    <parent link="bintel"/>
    <child link="engineUR"/>
    <origin rpy="0 0 3.1415" xyz="-0.128 0.128 0.02"/>
  </joint>
  
  <link name="engineUL">
  </link>
  <joint name="bintel_t0_engineUL" type="fixed">
    <parent link="bintel"/>
    <child link="engineUL"/>
    <origin rpy="0 0 3.1415" xyz="-0.128 -0.128 0.02"/>
  </joint>


 <link name="engineLR">
  </link>
  <joint name="bintel_t0_engineLR" type="fixed">
    <parent link="bintel"/>
    <child link="engineLR"/>
    <origin rpy="0 0 3.1415" xyz="0.128 0.128 0.02"/>
  </joint>
  
  <link name="engineLL">
  </link>
  <joint name="bintel_t0_engineLL" type="fixed">
    <parent link="bintel"/>
    <child link="engineLL"/>
    <origin rpy="0 0 3.1415" xyz="0.128 -0.128 0.02"/>
  </joint>

</robot>
