<?xml version="1.0"?>
<robot name="rollocopterRIGHT">

  <link name="rollocopterRIGHT">	  
  </link>
  
  <link name="laserRIGHT">
	<visual>
      <origin rpy="0  0 1.5707" xyz=" 0 0 0"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/hokuyo_urg04lx.STL" scale="0.001 0.001 0.001"/>
      </geometry>     
    </visual>
  </link>
  
  <joint name="laser_to_bintel" type="fixed">
    <parent link="rollocopterRIGHT"/>
    <child link="laserRIGHT"/>
    <origin rpy="0 -1.5707 3.1415" xyz="0.0 0 0"/>
  </joint>


</robot>
