<?xml version="1.0"?>
<robot name="rollocopter">

  <link name="rollocopter">	  
	  <visual>
      <origin rpy="0  0 1.5707" xyz="-0.00 -0.00 -0.00"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/CylinderV10.STL" scale="0.001 0.001 0.001"/>
      </geometry>     
    </visual>
  </link>
  
  <link name="laser">
	<visual>
      <origin rpy="1.5707  0 3.141592" xyz="-0.03 -0.00 -0.05"/>
      <geometry>
        <mesh filename="package://bintel_ros/meshes/hokuyo_urg04lx.STL" scale="0.001 0.001 0.001"/>
      </geometry>     
    </visual>
  </link>
  
  <joint name="laser_to_bintel" type="fixed">
    <parent link="rollocopter"/>
    <child link="laser"/>
    <origin rpy="0 0 +1.5707" xyz="0.0 0.029 0.044"/>
  </joint>


</robot>
