<launch>
	<node
		pkg="rosbag"
		name="record"
		type="record"
		args="--split --size 1900 
			  /scan 
		      /vrpn_client_node/bintel/pose 
		      /mavros/odometry/odom
		      /mavros/imu/data 
		      /mavros/rc/out  
		      /mavros/state
		      /mavros/battery
		      /camera/depth/image 
		      /camera/depth/camera_info 
		      /camera/depth/points 
		      /tf"
	/>
</launch>
