<launch>
	<node
		pkg="mavros"
		name="mavros"
		type="mavros_node"
		args="_fcu_url:=tcp://127.0.0.1:5760
		      _system_id:=2"
		output="screen"
	/>
	<include 
		file="$(find bintel_ros)/launch/optitrack_only.launch">
		<arg name="server" value="192.168.1.2"/>
	</include>
	<include 
		file="$(find mavros)/launch/px4.launch">
	</include>
	<node
		pkg = "topic_tools"
		name= "position_relay2"
		type = "relay"
		args="/vrpn_client_node/bintel/pose /mavros/vision_pose/pose"
	/>
</launch>
